
body {
    background-image: url(https://cdn.discordapp.com/attachments/965437216237187132/991919099154288650/Tela_Recuperar.png);
}

#logonavbar {
    width: 70px;
    margin-right: 10px;
}

#fotonavbar {
    border-radius: 50%;
    border: 10px;
    width: 70px;
    margin-left: 50px;
}

#sessaocentral {
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px black solid;
    overflow: hidden;
    background-color: white;
}

#insessao {
    background-color: white;
}

@media screen and (min-width:1380px) {
    #logonavbar {
        width: 150px;
        margin-right: 10px;
    }

    #fotonavbar {
        border-radius: 50%;
        border: 10px;
        width: 70px;
        margin-left: 50px;
    }

    .navbar-brand {
        font-size: 2rem;
        font-weight: 600;
    }

    .nav-link {
        font-size: 1.8rem;
    }
}