html {
    background-color: #3D2C0B;
}

#logonavbar {
    width: 150px;
    margin-right: 10px;
}
#fotonavbar {
    border-radius: 50%;
    border: 10px;
    width: 70px;
    margin-left: 50px;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}
.nav-link {
    font-size: 1.8rem;
}